<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BANTAYGA - Email</title>
  </head>
  <body style="padding: 0; margin: 0; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; background: black; color: white;">
    <main style="width: 100%; max-width: 600px; margin: auto; background: black; color: white;">
      <section style="display: flex; justify-content: center; padding: 1rem;">
        <a href="" style="text-decoration: none;">
          <h1 style="background: red; color: white; margin: 0; padding: 0.5rem;">BANTAYGA</h1>
        </a>
      </section>
      <hr style="border: 1px solid white;" />
      <section style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 1rem;">
        <img src="cid:image1" style="width: 90%; height: auto;" alt="alt" />
        <h1 style="margin: 0; padding: 0;">NEWS FOR YOU</h1>
        <p style="margin-top: -0.4rem;">{{ title }}</p>
      </section>
      <hr style="border: 1px solid white;" />
      <section style="padding: 1rem;">
        <p>{{ body }}</p>
      </section>
      <section style="display: flex; justify-content: space-between; padding: 1rem; color: white;">
        <a href="" style="color: white;">Legal notices</a>
        <a href="" style="color: white;">Privacy policy</a>
      </section>
      <section style="display: flex; justify-content: center; padding: 1rem;">
        <a href="" style="padding: 0.5rem; margin-top: 1rem; border: 2px solid white; color: white; text-decoration: none;">Bantyaga.com</a>
      </section>
      <hr style="border: 1px solid white;" />
      <section style="display: flex; justify-content: center; padding: 0.5rem;">
        <span>@2024 Bantyaga.com</span>
      </section>
    </main>
  </body>
</html>
